vaadin-rich-text-editor::part(toolbar) {
    box-shadow: inset 0 0 15px rgb(73, 0, 0);
    background-color: red;
}

vaadin-rich-text-editor::part(toolbar-button) {
  display: none;
}

vaadin-rich-text-editor::part(toolbar-button-bold) {
  display: block;
}

vaadin-rich-text-editor::part(toolbar-button-underline) {
  display: block;
}

vaadin-rich-text-editor::part(toolbar-button-link) {
  display: block;
}